{{ $content := . }}

<header class="recipe-header">
    {{ if .Params.images }}
        <div class="recipe-header-image">
            {{ $image := index .Params.images 0 }}
            {{ $alt := .Title }}
            <img src="{{ $image }}" alt="{{ $alt }}" loading="lazy">
        </div>
    {{ end }}

    <div class="recipe-meta">
        <div class="recipe-meta-grid">
            <!-- Core Recipe Info -->
            {{ partial "recipe/meta/core-info.html" . }}

            <div class="divider-container">
                <hr class="meta-divider" />
                <button class="info-toggle" onclick="toggleAdditionalInfo()" aria-expanded="false" aria-controls="additional-info">
                    <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                </button>
            </div>

            <!-- Additional Info (initially hidden) -->
            <div id="additional-info" class="additional-info hidden">
                {{ partial "recipe/meta/method-info.html" . }}
                {{ partial "recipe/meta/details.html" . }}
            </div>
        </div>
    </div>
</header>

<script src="/js/recipe-info.js"></script>
