{{ define "main" }}
    {{ $path := .RelPermalink }}
    {{ $sections := .Sections }}
    {{ if or (ne .RelPermalink "/reseptit/") (gt (len $sections) 0) }}
    <section class="section">
        <header>
            <h1 id="{{ .Title | lower }}" class="section-title">
                {{ .Title }}
            </h1>
        {{ with .Content }}
            <section class="description">
                {{ . }}
            </section>
        {{ end }}
        </header>

        <div class="section-content">
            {{ if eq .RelPermalink "/reseptit/" }}
                {{ range $sections }}
                    {{ $subSections := .Sections }}
                    {{ if gt (len $subSections) 0 }}
                        {{ range $subSections }}
                            {{ $totalCount := len .RegularPages }}
                            {{ range .Sections }}
                                {{ $totalCount = add $totalCount (len .RegularPages) }}
                            {{ end }}
                            {{ if gt $totalCount 0 }}
                            <a href="{{ .RelPermalink }}" class="section-content-link">
                                <h3 class="section-content-title">{{ .Title | }}</h3>
                                <div class="section-meta">
                                    {{ $totalCount }} {{ if eq $totalCount 1 }}resepti{{ else }}reseptiä{{ end }}
                                </div>
                            </a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ else }}
                {{ template "list-pages-grid" . }}
            {{ end }}
        </div>
    </section>
    {{ end }}
{{ end }}

{{ define "list-pages-grid" }}
{{ range $index, $page := .RegularPages }}
   {{ partial "recipe-card.html" (dict 
       "Title" $page.Title
       "Permalink" $page.Permalink
       "Params" $page.Params
       "index" $index
       "nopicture" true
       "show" (slice "image" "title")
   ) }}
{{ end }}
    {{ range .Sections }}
        {{ template "list-pages-grid" . }}
    {{ end }}
{{ end }}