# Recipe number redirects - generated automatically

Redirect 301 /reseptit/1 /reseptit/raspberry-syrup
Redirect 301 /reseptit/001 /reseptit/raspberry-syrup
Redirect 301 /reseptit/01 /reseptit/raspberry-syrup
Redirect 301 /reseptit/2 /reseptit/kevyt-persikkapiiras
Redirect 301 /reseptit/002 /reseptit/kevyt-persikkapiiras
Redirect 301 /reseptit/02 /reseptit/kevyt-persikkapiiras
Redirect 301 /reseptit/3 /reseptit/pte-sucre
Redirect 301 /reseptit/003 /reseptit/pte-sucre
Redirect 301 /reseptit/03 /reseptit/pte-sucre
Redirect 301 /reseptit/4 /reseptit/suklaapiiras
Redirect 301 /reseptit/004 /reseptit/suklaapiiras
Redirect 301 /reseptit/04 /reseptit/suklaapiiras
Redirect 301 /reseptit/5 /reseptit/hollandaise-kastike
Redirect 301 /reseptit/005 /reseptit/hollandaise-kastike
Redirect 301 /reseptit/05 /reseptit/hollandaise-kastike
Redirect 301 /reseptit/6 /reseptit/jauhelihakastike
Redirect 301 /reseptit/006 /reseptit/jauhelihakastike
Redirect 301 /reseptit/06 /reseptit/jauhelihakastike
Redirect 301 /reseptit/7 /reseptit/kasvissosekeitto
Redirect 301 /reseptit/007 /reseptit/kasvissosekeitto
Redirect 301 /reseptit/07 /reseptit/kasvissosekeitto
Redirect 301 /reseptit/8 /reseptit/pan-seared-entrecte
Redirect 301 /reseptit/008 /reseptit/pan-seared-entrecte
Redirect 301 /reseptit/08 /reseptit/pan-seared-entrecte
Redirect 301 /reseptit/9 /reseptit/perunamuusi
Redirect 301 /reseptit/009 /reseptit/perunamuusi
Redirect 301 /reseptit/09 /reseptit/perunamuusi
Redirect 301 /reseptit/10 /reseptit/ranskalainen-sipulikeitto
Redirect 301 /reseptit/010 /reseptit/ranskalainen-sipulikeitto
Redirect 301 /reseptit/11 /reseptit/risotto-al-parmigiano
Redirect 301 /reseptit/011 /reseptit/risotto-al-parmigiano
Redirect 301 /reseptit/12 /reseptit/täydellinen-munakas
Redirect 301 /reseptit/012 /reseptit/täydellinen-munakas
Redirect 301 /reseptit/13 /reseptit/täydellinen-proteiinikypsennysteoria
Redirect 301 /reseptit/013 /reseptit/täydellinen-proteiinikypsennysteoria
Redirect 301 /reseptit/14 /reseptit/tomaattikastike-pastalle
Redirect 301 /reseptit/014 /reseptit/tomaattikastike-pastalle
Redirect 301 /reseptit/15 /reseptit/crme-ptissire
Redirect 301 /reseptit/015 /reseptit/crme-ptissire
Redirect 301 /reseptit/16 /reseptit/focaccia
Redirect 301 /reseptit/016 /reseptit/focaccia
Redirect 301 /reseptit/17 /reseptit/keksitaikina
Redirect 301 /reseptit/017 /reseptit/keksitaikina
Redirect 301 /reseptit/18 /reseptit/klassinen-ranskalainen-macaron
Redirect 301 /reseptit/018 /reseptit/klassinen-ranskalainen-macaron
Redirect 301 /reseptit/19 /reseptit/murotaikina
Redirect 301 /reseptit/019 /reseptit/murotaikina
Redirect 301 /reseptit/20 /reseptit/paahtoleipä-luontaisella-juurella
Redirect 301 /reseptit/020 /reseptit/paahtoleipä-luontaisella-juurella
Redirect 301 /reseptit/21 /reseptit/pannukakku
Redirect 301 /reseptit/021 /reseptit/pannukakku
Redirect 301 /reseptit/22 /reseptit/perusmuffinit
Redirect 301 /reseptit/022 /reseptit/perusmuffinit
Redirect 301 /reseptit/23 /reseptit/tavallinen-kakkupohja
Redirect 301 /reseptit/023 /reseptit/tavallinen-kakkupohja
Redirect 301 /reseptit/24 /reseptit/tiikerikakku
Redirect 301 /reseptit/024 /reseptit/tiikerikakku
Redirect 301 /reseptit/25 /reseptit/tuulihattutaikina
Redirect 301 /reseptit/025 /reseptit/tuulihattutaikina
