<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head.html" . }}
</head>
<body id="{{ if .IsNode}}node{{ else if not .IsNode }}page{{ end }}">
    <!-- Skip link with our new utility classes -->
    <a href="#main-content" class="hidden">
        Siirry sisältöön
    </a>

    {{ partial "top-nav.html" . }}
    
    <div class="container max-w-[75rem]">
        <main class="content" id="main-content">
            {{ block "main" . }}{{ end }}
        </main>
    </div>
</body>
</html>
