{{ define "main" }}
    <section class="section">
        <header>
            <h1 class="section-title">{{ .Title }}</h1>
            {{ with .Description }}
                <section class="description">
                    <p>{{ . }}</p>
                </section>
            {{ end }}
        </header>

        <div class="section-content">
            {{ range $index, $page := .Pages }}
                <a href="{{ $page.Permalink }}" class="section-content-link" aria-label="Näytä resepti: {{ $page.Title }}">
                    <h3 class="section-content-title">{{ $page.Title }}</h3>
                    {{ if $page.Description }} 
                        <div class="section-meta">{{ $page.Description }}</div>
                    {{ end }}
                </a>
            {{ end }}
        </div>
    </section>
{{ end }}