{{ define "main" }}
    <header class="list-header">
        <h2>{{ .Title }}</h2>
        {{ with .Description }}
            <p>{{ . }}</p>
        {{ end }}
    </header>

    {{ if .Pages }}
        <section class="list-content grid-container">
            <div class="picture-grid">
                {{ range $index, $recipe := .Pages }}
                    {{ partial "recipe-card.html" (dict 
                        "recipe" $recipe 
                        "isFirst" (eq $index 0)
                    ) }}
                {{ end }}
            </div>
        </section>
    {{ else }}
        <section class="empty-content">
            <p>Valitettavasti sisältöä ei ole saatavilla tällä hetkellä.</p>
        </section>
    {{ end }}
{{ end }}
