{{ define "sidebar" }}
    {{ partial "aside-ingredients.html" . }}
    <script src="/js/recipe-scaling.js"></script>
{{ end }}

{{ define "main" }}
    <article>
        <header>
            {{ partial "recipe-header-image.html" . }}
            <h1>{{ .Title }}</h1>

            {{ with .Params.description }}
                <div class="recipe-description">
                    <p>{{ . }}</p>
                </div>
            {{ end }}

            {{ partial "recipe-meta.html" . }}
        </header>

        {{ partial "recipe-content.html" . }}
    </article>
{{ end }}
