.search-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--surface-base);
    border: 1px solid var(--border-muted);
    border-radius: var(--radius-lg);
    padding: var(--space-1) var(--space-3);
    width: 300px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

#site-search {
    flex: 1;
    border: none;
    padding: var(--space-2);
    font-size: var(--font-size-base);
    background: var(--surface-base);
    color: var(--text-primary);
}

.search-input:focus, #site-search:focus {
    outline: none;
}

.search-overlay {
    position: relative;
}

.search-overlay.active .search-close {
    display: block;
}

.search-close {
    display: none;
    background: none;
    border: none;
    padding: var(--space-2);
    cursor: pointer;
    color: var(--text-secondary);
}

.search-results-container {
    position: absolute;
    top: calc(100% + var(--space-2));
    left: 0;
    right: 0;

}

.search-results {
    background: var(--surface-base);
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius-md);
    overflow-y: auto;
    max-height: 25rem;
}

.search-result a {
    display: block;
    padding: var(--space-3);
    text-decoration: none;
    border-bottom: 1px solid var(--border-muted);
    color: inherit;
}

.search-result.active a {
    background: var(--active-overlay);
}

.result-title {
    font-size: var(--font-size-lg);
    color: var(--text-primary);
    margin-bottom: var(--space-1);
}

.result-metadata {
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
}

.no-results {
    padding: var(--space-4);
    text-align: center;
    color: var(--text-secondary);
}

.search-toggle {
    display: none;
    padding: var(--space-2);
    color: var(--text-secondary);
    background: none;
    border: none;
    cursor: pointer;
}

.nav-icons {
    display: flex;
    margin-left: auto;
}



@media (max-width: 768px) {
    .search-input-wrapper {
        width: 100%;
        border-radius: 0;
        border-left: none;
        border-right: none;
        padding: 0 var(--space-4);
        height: var(--nav-height);
    }

    .search-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--surface-overlay);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: calc(var(--z-popover) + 1);
    }

    .search-overlay {
        width: 100%;
        height: fit-content;
    }

    .search-overlay.active {
        display: flex;
    }

    .search-toggle {
        display: block;
    }
}