{{ $content := . }}

<div class="meta-section">
    {{ with .Params.appliances }}
    <div class="meta-item" title="Välineet">
        {{ partial "recipe-meta-icons.html" (dict "icon" "appliances") }}
        <span>{{ delimit . ", " }}</span>
    </div>
    {{ end }}

    {{ with .Params.method }}
    <div class="meta-item" title="Menetelmä">
        {{ partial "recipe-meta-icons.html" (dict "icon" "method") }}
        <span>{{ delimit . ", " }}</span>
    </div>
    {{ end }}

    {{ with .Params.storage }}
    <div class="meta-item storage-info" title="Säilyvyys">
        {{ partial "recipe-meta-icons.html" (dict "icon" "storage") }}
        <span>{{ delimit . " | " }}</span>
    </div>
    {{ end }}
</div>
