<nav class="aside">
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li>
                {{ $isCurrentOrHasCurrentChild := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
                {{ $showSubmenu := or (eq .Name (title $currentPage.Section)) $isCurrentOrHasCurrentChild }}

                {{ if $showSubmenu }}
                    {{ $currentSection := $currentPage.CurrentSection }}
                    {{ $parentSection := $currentSection.Parent }}
                    {{ if eq .URL $parentSection.RelPermalink }}
                        <a href="{{ .URL }}" class="{{ if $isCurrentOrHasCurrentChild }}active{{ end }}">
                            {{ .Name }}
                        </a>
                    {{ else }}
                        <a href="{{ .URL }}" class="{{ if $isCurrentOrHasCurrentChild }}active{{ end }}">
                            {{ .Name }}
                        </a>
                    {{ end }}
                    <ul>
                        {{ if and $parentSection (ne $parentSection.RelPermalink "/") }}
                            {{ if ne .URL $parentSection.RelPermalink }}
                                <li>
                                    <a href="{{ $parentSection.RelPermalink }}" class="parent-link">&#8592; {{ $parentSection.Title }}</a>
                                </li>
                            {{ end }}
                        {{ end }}
                        {{ range $currentSection.Sections }}
                            <li>
                                <a href="{{ .RelPermalink }}" class="{{ if eq . $currentPage }}active{{ end }}">
                                    {{ .Title }}
                                </a>
                                {{ if eq . $currentPage.CurrentSection }}
                                    <ul>
                                        {{ range .Sections }}
                                            <li>
                                                <a href="{{ .RelPermalink }}" class="{{ if eq . $currentPage }}active{{ end }}">
                                                    {{ .Title }}
                                                </a>
                                            </li>
                                        {{ end }}
                                    </ul>
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    <a href="{{ .URL }}" class="{{ if $isCurrentOrHasCurrentChild }}active{{ end }}">
                        {{ .Name }}
                    </a>
                {{ end }}
            </li>
        {{ end }}
    </ul>
</nav>
