{{ $component := .component }}
{{ $content := .content }}

<section class="recipe-{{ $component }}">
    {{- if eq $component "notes" -}}
        <details class="recipe-notes">
                <h3>Muistiinpanot</h3>
            
            {{ $shortcode := printf "(?s){{< %s >}}(.*?){{</ %s >}}" $component $component }}
            {{ $matches := findRE $shortcode .content.RawContent }}
            {{ if $matches }}
                <div>
                    {{ $rawContent := index $matches 0 }}
                    {{ $innerContent := replaceRE (printf "{{< ?%s >}}|{{</ ?%s >}}" $component $component) "" $rawContent }}
                    {{ with .content }}
                        {{ $innerContent | .RenderString }}
                    {{ end }}
                </div>
            {{ end }}
        </details>
    
    {{- else if eq $component "description" -}}
        {{ if or .content.Params.description .content.Params.author }}
            <div class="recipe-description">
                {{ with .content.Params.description }}
                    <p class="text-secondary">{{ . }}</p>
                {{ end }}
                
                {{ with .content.Params.author }}
                    <span class="text-secondary">
                        {{- if .url -}}
                            <a href="{{ .url }}" class="text-accent hover:underline">{{ .name }}</a>
                        {{- else -}}
                            {{ .name }}
                        {{- end -}}
                    </span>
                {{ end }}
            </div>
        {{ end }}
    
    {{- else -}}
        <h2>
            {{- if eq $component "ingredients" -}}
                Ainesosat
            {{- else if eq $component "instructions" -}}
                Ohjeet
            {{- end -}}
        </h2>

        {{ if eq $component "ingredients" }}
            {{ with .content.Params.skaalaus }}
                <div>
                    <select id="recipe-scale" 
                            onchange="scaleRecipe(this.value)" 
                            aria-label="Reseptin skaalaus">
                        <option value="1">1× (Alkuperäinen)</option>
                        {{ range . }}
                            <option value="{{ index (split . "x") 0 }}">{{ . }}</option>
                        {{ end }}
                    </select>
                </div>
            {{ end }}
        {{ end }}

        {{ $shortcode := printf "(?s){{< %s >}}(.*?){{</ %s >}}" $component $component }}
        {{ $matches := findRE $shortcode .content.RawContent }}
        
        {{ if $matches }}
            <div>
                {{ $rawContent := index $matches 0 }}
                {{ $innerContent := replaceRE (printf "{{< ?%s >}}|{{</ ?%s >}}" $component $component) "" $rawContent }}
                {{ with .content }}
                    {{ $innerContent | .RenderString }}
                {{ end }}
            </div>
        {{ else }}
            <p class="text-secondary">
                {{- if eq $component "ingredients" -}}
                    Ainesosia ei löytynyt.
                {{- else if eq $component "instructions" -}}
                    Ohjeita ei ole saatavilla.
                {{- end -}}
            </p>
        {{ end }}
    {{- end -}}
</section>
