<div id="additional-info" class="meta-section additional-info hidden">
    <!-- Primary Meta Information -->
    <div class="meta-section">
        {{ with .Date }}
        <div class="meta-item" title="Päivämäärä">
            {{ partial "recipe-meta-icons.html" (dict "icon" "date") }}
            <span>{{ .Format "02.01.2006" }}</span>
        </div>
        {{ end }}

        {{ with .Params.author }}
        <div class="meta-item" title="Tekijä">
            {{ partial "recipe-meta-icons.html" (dict "icon" "author") }}
            <span>{{ . }}</span>
        </div>
        {{ end }}

        {{ with .Params.tags }}
        <div class="meta-item" title="Tagit">
            {{ partial "recipe-meta-icons.html" (dict "icon" "tags") }}
            <span>
                {{ range $index, $tag := . }}
                    {{- if $index }}, {{ end -}}
                    <a href="{{ "/tags/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>
                {{- end }}
            </span>
        </div>
        {{ end }}
    </div>

    <!-- Secondary Meta Information -->
    <div class="meta-section">
        {{ with .Params.storage }}
        <div class="meta-item storage-info" title="Säilyvyys">
            {{ partial "recipe-meta-icons.html" (dict "icon" "storage") }}
            <span>{{ delimit . " | " }}</span>
        </div>
        {{ end }}

        {{ with .Params.appliances }}
        <div class="meta-item" title="Välineet">
            {{ partial "recipe-meta-icons.html" (dict "icon" "appliances") }}
            <span>{{ delimit . ", " }}</span>
        </div>
        {{ end }}

        {{ with .Params.method }}
        <div class="meta-item" title="Menetelmä">
            {{ partial "recipe-meta-icons.html" (dict "icon" "method") }}
            <span>{{ delimit . ", " }}</span>
        </div>
        {{ end }}
    </div>
</div>
