<div class="meta-section essential-info">
    {{ with .Params.maara }}
    <div class="meta-item" title="Tuotto">
        {{ partial "recipe-meta-icons.html" (dict "icon" "yield") }}
        <span>{{ . }} {{ index $.Params.categories 0 | default "Kategoria" }}</span>
    </div>
    {{ end }}

    {{ with .Params.valmistusaika }}
    <div class="meta-item" title="Valmistusaika">
        {{ partial "recipe-meta-icons.html" (dict "icon" "time") }}
        <span>{{ . }}</span>
    </div>
    {{ end }}

    {{ with .Params.difficulty }}
    <div class="meta-item" title="Vaikeustaso">
        {{ partial "recipe-meta-icons.html" (dict "icon" "difficulty") }}
        <span>{{ . }}</span>
    </div>
    {{ end }}

    {{ with .Params.diet }}
    <div class="meta-item" title="Allergeenit">
        {{ partial "recipe-meta-icons.html" (dict "icon" "diet") }}
        <span>{{ delimit . ", " }}</span>
    </div>
    {{ end }}
</div>
