{{ $image := resources.Get .path }}
{{ $context := .context }}
{{ $class := .class }}

{{ if $image }}
    {{/* Process image variants */}}
    {{ $variants := dict 
        "small" ($image.Resize "400x")
        "medium" ($image.Resize "800x")
        "large" ($image.Resize "1200x")
    }}
    
    {{/* Process WebP variants */}}
    {{ $webpVariants := dict }}
    {{ range $key, $variant := $variants }}
        {{ $webpVariants = merge $webpVariants (dict $key ($variant.Process "webp")) }}
    {{ end }}

    <picture>
        {{/* WebP source */}}
        <source
            type="image/webp"
            srcset="{{ $webpVariants.small.RelPermalink }} 400w,
                    {{ $webpVariants.medium.RelPermalink }} 800w,
                    {{ $webpVariants.large.RelPermalink }} 1200w"
            sizes="(max-width: 400px) 400px,
                   (max-width: 800px) 800px,
                   1200px">
        
        {{/* Original format source */}}
        <source
            srcset="{{ $variants.small.RelPermalink }} 400w,
                    {{ $variants.medium.RelPermalink }} 800w,
                    {{ $variants.large.RelPermalink }} 1200w"
            sizes="(max-width: 400px) 400px,
                   (max-width: 800px) 800px,
                   1200px">
        
        <img 
            src="{{ $variants.medium.RelPermalink }}"
            alt="{{ $context.Title }}"
            loading="lazy"
            width="{{ $variants.medium.Width }}"
            height="{{ $variants.medium.Height }}"
            {{ with $class }}class="{{ . }}"{{ end }}>
    </picture>
{{ else }}
    <img 
        src="{{ .path }}"
        alt="{{ $context.Title }}"
        loading="lazy"
        {{ with $class }}class="{{ . }}"{{ end }}>
{{ end }}
