{{- $searchIndex := slice -}}
{{- range where .Site.RegularPages "Section" "reseptit" -}}
    {{- $page := dict 
        "id" .File.UniqueID
        "title" .Title
        "description" .Description
        "url" .RelPermalink
        "permalink" .Permalink
        "category" .Parent.Title
        "difficulty" .Params.difficulty
        "diet" .Params.diet
        "tags" .Params.tags
        "time" .Params.valmistusaika
        "headimg" .Params.headimg
    -}}
    {{- $searchIndex = $searchIndex | append $page -}}
{{- end -}}
{{- $searchIndex | jsonify -}}
