{{ define "main" }}
<header class="home-header">
    <h1 class="home-title">Tervetuloa sivustolleni</h1>
    {{ with .Site.Params.description }}
        <p class="home-description">Täältä löydät {{ . | lower }}</p>
    {{ end }}
</header>



    <section class="home-section grid-container">
        <h2 class="section-title">Tuoreimmat reseptit</h2>
        <div class="picture-grid">
            {{ $recipes := where .Site.RegularPages "Section" "reseptit" }}
            {{ range $index, $recipe := first 11 $recipes.ByDate.Reverse }}
            {{ partial "recipe-card.html" (dict
                "Title" .Title
                "Permalink" .Permalink
                "Params" .Params
                "index" $index
                "classes" (slice "picture-card")
                "show" (slice "image" "title")
                "loading" "eager"
                "fetchpriority" "high"
            ) }}
            {{ end }}
        </div>
    </section>

    <section class="home-section">
        <h2 class="section-title">Suosituimmat kategoriat</h2>
        <div class="section-content">
            {{ $categories := where .Site.Pages "Section" "reseptit" }}
            {{ $filtered := where $categories "RelPermalink" "not in" (slice "/reseptit/" "/reseptit/leivonnaiset/") }}
            {{ range first 8 (sort $filtered "RegularPagesRecursive" "desc") }}                
                <a href="{{ .RelPermalink }}" class="section-content-link">
                    <h3 class="section-content-title">{{ .Title | humanize }}</h3>
                    <p class="section-meta">{{ len .RegularPagesRecursive }} reseptiä</p>
                </a>
            {{ end }}
        </div>
    </section>
    
    <section class="home-section">
        <h2 class="section-title">Ruuanlaiton tietopankki</h2>
        <div class="section-content">
            {{ range first 6 (where .Site.RegularPages "Section" "tietokanta") }}
                <a href="{{ .RelPermalink }}"  class="section-content-link">
                    {{ with .Params.image }}
                        <img class="section-image" src="{{ . }}" alt="{{ $.Title }}" loading="lazy">
                    {{ end }}
                    <h3 class="section-content-title">{{ .Title | humanize }}</h3>
                    {{ with .Description }}
                        <p class="section-meta">{{ . }}</p>
                    {{ end }}
                </a>
            {{ end }}
        </div>
    </section>
{{ end }}