{{ define "main" }}
    <h1>Tervetuloa {{ .Site.Title }}</h1>
    <h2>Uusimmat reseptit</h2>
    <div class="picture-grid">
        {{ $recipes := where .Site.RegularPages "Section" "reseptit" }}
        {{ range $recipes }}
            {{ partial "recipe-card.html" (dict
                "classes" (slice "picture-card")
                "recipe" .
            ) }}
        {{ else }}
            <p>Valitettavasti reseptejä ei ole saatavilla tällä hetkellä.</p>
        {{ end }}
    </div>
{{ end }}
